<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tweet Sentiment Analysis</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/form-elements.css">
    <link rel="stylesheet" href="static/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->



</head>

<body>

    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text">
                        <h1><strong>Tweets</strong> Analysis</h1>
                        <div class="description">
                            <p>
                                Search for your favorite topic in twitter, using <strong>Sentiment</strong> filter!
                            </p>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-sm-12  form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>What tweets do you want to see!</h3>
                                <p>Use the sentiment and factual filters below </p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-twitter" style="color:#38A1F3;"></i>
                            </div>
                        </div>

                        <div class="form-bottom">
                            <form role="form" id="form" class="login-form">
                                <div class="form-group">
                                    <label for="form-number">Enter the number of shown tweets: </label>
                                    <input type="text" name="tweet_search" placeholder="Enter the number of shown tweets" class="form-username form-control" id="form-number">
                                </div>
                                <div class="form-group">
                                    <label for="select-search">Enter searching preference (hashtag or city): </label>
                                    <!-- <input type="text" name="tweet_search" placeholder="Enter searching preference: hashtag or city" class="form-username form-control" id="form-prefer"> -->
                                    <select type="option" id="select-search" placeholder="Please Choose ...">
                                        <option>Hashtag</option>
                                        <option>City</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="form-username">Enter a search topic(e.g. hello) or city(e.g. NewYork/newyork): </label>
                                    <input type="text" name="tweet_search" placeholder="Enter a search topic(e.g. hello) or city(e.g. NewYork/newyork)" class="form-username form-control" id="form-username">
                                </div>
                                <div class="form-group">
                                    <label for="select-result">Enter result preference (hashtag or city): </label>
                                    <!-- <input type="text" name="tweet_search" placeholder="Enter searching preference: hashtag or city" class="form-username form-control" id="form-prefer"> -->
                                    <select  type="option" id="select-result" placeholder="Please Choose ...">
                                        <option>All Tweets</option>
                                        <option>Positive Tweets</option>
                                        <option>Negative Tweets</option>
                                        <option>Opinion Tweets</option>
                                        <option>Factual Tweets</option>
                                    </select>
                                </div>


                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group" >
                                        <button id="search_btn" data-toggle="tooltip" data-placement="left" title="Show all Tweets" class="btn group-btn-all">Search Tweets</button>
                                        <button type="reset" data-toggle="tooltip" data-placement="left" title="Reset Filters" id='res' class="btn group-btn-all reset_filter">Reset Filters</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>

                <div id="search_result">
                    <div class="Loading", id="loading" style="display: none;">
                        <div class="Loading-bar">
                            <div class="Loading-circle"></div>
                            <p class="Loading-p">Loading</p>
                        </div>
                    </div>
                    <div id="senti_piechart">
                        
                    </div>
                    
                    <div class="btn-toolbar2" role="toolbar" style="display: none;" id="search_button">
                        <div class="btn-group" >
                            <button value="pos" data-toggle="tooltip" data-placement="bottom" title="Show only Positive Tweets" class="btn group-btn-1" id="psenti" >Positive Tweets</button>
                            <button value="neg" data-toggle="tooltip" data-placement="bottom" title="Show only Negative Tweets" class="btn group-btn-2" id="nsenti" >Negative Tweets</button>
                            <button value="opi" data-toggle="tooltip" data-placement="bottom" title="Tweets which are Opinion" id="opi" class="btn group-btn-2" >Opinion Tweet</button>
                            <button value="fac" data-toggle="tooltip" data-placement="bottom" title="Tweets which are factual" id="fac" class="btn group-btn-1" >Factual Tweet</button>
                        </div>
                    </div> 
                    <hr id="search_hr"/>                  
                    <div class="Loading", id="loading2" style="display: none;">
                        <div class="Loading-bar">
                            <div class="Loading-circle"></div>
                            <p class="Loading-p">Loading</p>
                        </div>
                    </div>
                    <div id="wordcloud_div" >
                        <img id="wordcloud_img" title="wordcloud">
                    </div>
                    <hr id="search_hr"/>
                    <ol id="search_list">

                    </ol>
                </div>

            </div>
        </div>

    </div>


    <!-- Javascript -->
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.backstretch.min.js"></script>
    <script src="static/js/scripts.js"></script>
    <script src="static/js/plotly.js"></script>
    <script src="{{ url_for('static',filename='index.js') }}"></script>
    <!--[if lt IE 10]>
            <script src="static/js/placeholder.js"></script>
        <![endif]-->

</body>

</html>