
input[type="text"],
select[type="option"], 
input[type="password"] {
	height: 50px;
    margin: 0;
    width: 100%;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16.5px;
    font-weight: 350;
    line-height: 50px;
    color: #000;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="text"]:focus, 
select[type="option"]:focus,
input[type="password"]:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder { color: #888; }
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder { color: #888; }
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { color: #888; }

select.placeholder-shown {
    color: grey;
  }
  select.placeholder-hidden {
    color: black;
  }
  


button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #4a7da4;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 19.5px;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }
button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
button.btn:focus { outline: 0; color: #fff; border: 0; padding: 0;}
/* button.btn:active:focus, button.btn.active:focus { outline: 0; color: #fff; } */


button.group-btn-1 {
    margin: 2px;
    width: 25%;
    min-width:fit-content;
}

button.group-btn-2 {
    margin: 2px;
    width: 24%;
    min-width:fit-content;
}

.btn-toolbar {
    width: 100%;
} 

.btn-group{
    width: 100%;
    margin-top: 25px;
}

button.group-btn-all {
    width:49%;
    min-width:fit-content;
}

.btn-toolbar2 {
    width: 100%;
    margin-left: 8px;
}


/* .enter-hints{
    text-align: left;
} */


